html,
body,
#wrapper, .row-fluid {
    height: 100%;
}

body {
    background: url(../img/bg.png);
    font-size: 18px;
}

h1 {
    font-family: 'Oleo Script', cursive;
    margin-bottom: 20px;
}

.sidebar {
    background: #999 url(../img/bg-black2.png);
    color: #fefefe;
    height: 100%;
    overflow-y: scroll;

    -webkit-box-shadow:  3px 0px 20px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:  3px 0px 20px 5px rgba(0, 0, 0, 0.5);
    box-shadow:  3px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

div[role=main] {
    height: 100%;
    overflow-y: scroll;
}

#wrapper {
    margin: 0;
    padding: 0;
}

#new-project {
    float: right;
}

#project-list header {
    padding: 20px;
}

#project-list header h1 {
    margin: 0;
    text-shadow: 1px 1px 1px #000;
}

#project-list ul {
    border-bottom: 1px solid #222;
    border-top: 1px solid #333;
    margin: 0;
}

#project-list li {
    background: rgba(255,255,255,0.03);
    border-bottom: 1px solid #333;
    border-top: 1px solid #222;
    display: block;
    list-style: none;
    overflow: hidden;
    padding: 8px 20px;
    position: relative;

    -webkit-transition: background 0.3s ease-in-out;
       -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
         -o-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
}

#project-list li .badge {
    float: left;
    margin-right: 10px;
}

#project-list li:hover {
    background: rgba(255,255,255,0.1);
}

#project-list li a {
    display: block;
    color: #fefefe;
    text-shadow: 1px 1px 1px #000;
}

#project-list li a:hover {
    text-decoration: none;
}

#project-list .delete {
    cursor: pointer;
    margin-top: -7px;
    position: absolute;
    right: 20px;
    top: 50%;
}

#new-project-form {
    margin: 20px 20px;
    position: relative;
}

#new-project-form form {
    margin: 0;
}

#new-project-form .control-group {
    margin: 0;
}

#new-project-form button[type=submit] {
    float: right;
    width: 17%;
}

#new-project-form  .close {
    position: absolute;
    top: -2px;
    right: 4px;
    line-height: 1;
}

#project-title {
    font-size: 18px;
    width: 77%;
}

#current-project {
    margin-right: 20px;
    padding: 20px 0;
}

#current-project header h1 {
    text-shadow: 1px 1px 1px #aaa;
}

#current-project .update {
    float: right;
}

.todo-list {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #ccc;
    padding: 8px 0;
    position: relative;
    text-shadow: 1px 1px 1px #aaa;

    -webkit-transition: background 0.3s ease-in-out;
       -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
         -o-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
}

.todo:hover {
    background: rgba(255, 251, 208,0.3);
}

.todo time {
    display: none;
}

.todo .delete,
.todo .edit {
    cursor: pointer;
    display: none;
    margin-top: -9px;
    position: absolute;
    top: 50%;
}

.todo .delete {
    right: 5px;
}

.todo .edit {
    right: 40px;
}

.todo:hover .delete,
.todo:hover .edit {
    display: block;
}

.todo .status {
    cursor: pointer;
    margin-right: 10px;
}

.hide-me {
    display: none;
}

.todo.complete {
    color: #999;
    text-decoration: line-through;
}

#new-todo-form {
    margin-right: 20px;
}

#new-todo-form form,
#new-todo-form .control-group,
#new-todo-form .help-block {
    margin: 0;
}

#todo-body {
    float: left;
    font-size: 18px;
    padding: 1%;
    width: 82%;
}

#new-todo-form button[type=submit] {
    float: right;
    padding: 1%;
    width: 14%;
}

@media (max-width: 768px) {
    .sidebar {
        height: auto;
        overflow-y: auto;
        padding-bottom: 1px;
    }

    div[role=main] {
        height: auto;
        overflow-y: auto;
    }
    
    #new-todo-form,
    #current-project {
        margin-right: 0;
    }
}
